{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservation list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Flight</th>
                <th>Users</th>
                <th>Seats</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                <td> {{ reservation.flight }}</td>
                <td>{% for user in reservation.users %} {{ user }} {% endfor %}</td>
                <td> {{ reservation.nbSeats }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservation_show', { 'id': reservation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_new') }}">Create a new entry</a>
        </li>
        <li>
            <a href="{{ path('flight_index') }}"><button>Go to the flights index</button></a>
            <a href="{{ path('terrain_index') }}"><button>Consult the list of terrains</button></a>
            <a href="{{ path('user_index') }}"><button>Log in / Register as a new user</button></a>
            <a href="{{ path('planemodel_index') }}"><button>Consult the list of plane models</button></a>
        </li>
    </ul>
{% endblock %}
